
:root{
    --ligt-grey: #e2e8f0;
    --blue: #1992d4;
    --white: #FFFFFF;
}
img{
    font-size: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.layout{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.short{
    background-color: var(--blue);
    grid-column: 1/2;
    color: #FFFFFF;
}
.fa-regular{
    font-size: 20px;
}
.header.side-bar{
    gap: 0px;
}
::before {
    font-size: 13px;
}
.dasboardPng, img{
    width: 2em;
}
.side-bar{
    display: flex;
    gap: 15px;
    margin: 0.5em;
    align-items: center;
}
.user{
    margin: 10px 0 40px;
}
.long{
    grid-column: 2/-1;
    background-color: var(--ligt-grey);
}
.top{
    background-color: var(--white);
    padding: 10px 40px;
}
.flex1,
.flex2,
.left,
.right,
.account{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flex1{
    margin-bottom: 10px;
    justify-content: space-between;
}
.flex2{
    justify-content: space-between;
}
.top input[type = "text"] {
    border: none;
    border-radius: 20px;
    background-color: var(--ligt-grey);
    height: 1.9em;
    width: 30em;
}
.profile-holder{
    border-radius: 50%;
}
.profile-holder {
    border-radius: 50%;
} 
.round{
    width: 50px;
    height: 50px;
    clip-path: circle();
}
button{
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
    padding: 0.26em;
    width: 6.0em;
    height: 2.63em;
    margin-left: 0.2em;
    color: var(--white);
    margin-bottom: 10px;

}
.btn{
    align-self: end;
}
.main{
    display: grid;
    grid-template-columns: 816px 1fr;
    gap: 30px;
}
.chat{
    grid-column: 2/-1;
    font-size: 13px;
}
.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 10px 0px 10px 10px;
    gap: 16px;
}
.card{
    background-color: var(--white);
    width: 400px;
    height: 230px;
    padding: 20px;
    border-left: 8px solid orange;
    border-radius: 5px;
    font-size: 14px;
}
.icons{
    text-align: end;
}
.message{
    background-color: var(--white);
    width: 250px;
    height: 310px;
    border-radius: 5px;
    padding: 8px;
}
.message > *{
    margin-top: 10px;
    font-size: 10px;
}
.message1,
.message2{
    border-bottom: 1px solid black;
    padding: 10px;
}
.message3{
    padding: 10px;
}
.treding{
    margin-top: 20px;
    width: 250px;
}
.other-accounts{
    background-color: var(--white);
    padding: 10px;
    border-radius: 5px;
}
.treding .account{
    margin-bottom: 18px;
}