
:root{
    --ligt-grey: #e2e8f0;
    --blue: #1992d4;
    --white: #FFFFFF;
}
img{
    font-size: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.layout{
    display: grid;
    grid-template-columns: 200px 1fr;
}
.short{
    background-color: var(--blue);
    grid-column: 1/2;
    color: #FFFFFF;
}
.fa-regular{
    font-size: 20px;
}
.header.side-bar{
    gap: 0px;
}
::before {
    font-size: 13px;
}
.dasboardPng, img{
    width: 2em;
}
.side-bar{
    display: flex;
    gap: 15px;
    margin: 0.5em;
    align-items: center;
}
.user{
    margin: 10px 0 40px;
}
.long{
    grid-column: 2/-1;
    background-color: red;
}
.top{
    background-color: var(--white);
    padding: 10px 40px;
}
.flex1,
.flex2,
.left,
.right,
.account{
    display: flex;
    align-items: center;
    gap: 20px;
}
.flex1{
    margin-bottom: 10px;
    justify-content: space-between;
}
.flex2{
    justify-content: space-between;
}
.top input[type = "text"] {
    border: none;
    border-radius: 20px;
    background-color: var(--ligt-grey);
    height: 1.9em;
    width: 30em;
}
.profile-holder{
    border-radius: 50%;
}
.profile-holder {
    border-radius: 50%;
} 
.round{
    width: 50px;
    height: 50px;
    clip-path: circle();
}
button{
    border: none;
    border-radius: 25px;
    background-color: var(--blue);
    padding: 0.26em;
    width: 6.0em;
    height: 2.63em;
    margin-left: 0.2em;
    color: var(--white);
    margin-bottom: 10px;

}
.btn{
    align-self: end;
}
